# Pandas Exercises

Check if you have pandas installed by importing the library as below. If it throws an error, please run `pip install pandas` on a code cell to install it.

Note: The solutions are just suggestions on how you can solve each exercise. In Pandas, you can answer the same question in different ways.

In [1]:
import pandas as pd

## Exercise 1. Baby Names <span style="font-size:10px">[Source](https://www.practiceprobs.com/problemsets/python-pandas/series/baby-names/)</span>

You and your spouse decided to let the internet name your next child. You’ve asked the great people of the web to submit their favourite names, and you’ve compiled their submissions into a Series called `babynames`.

Determine how many people voted for the names ‘Chad’, ‘Ruger’, and ‘Zeltron’.

In [2]:
babynames = pd.Series([
    'Jathonathon', 'Zeltron', 'Ruger', 'Phreddy', 'Ruger', 'Chad', 'Chad',
    'Ruger', 'Ryan', 'Ruger', 'Chad', 'Ryan', 'Phreddy', 'Phreddy', 'Phreddy',
    'Mister', 'Zeltron', 'Ryan', 'Ruger', 'Ruger', 'Jathonathon',
    'Jathonathon', 'Ruger', 'Chad', 'Zeltron'], dtype='string')

In [3]:
# Your code

<details style="font-size: 16px">
<summary>Hint</summary>

1. Use <a href="https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html" target="_blank"><code>value_counts()</code></a> method to get the count of each unique element in the Series. 

2. Pass the list of labels you want to retrieve within the selection brackets <code>[]</code>.

</details>

<details style="font-size: 16px">
<summary>Sample solution</summary>

```python
babynames.value_counts()[['Chad', 'Ruger', 'Zeltron']]
```
</details>

---
## Exercise 2.1. Merge two DataFrames <span style="font-size:10px">[Source](https://pynative.com/python-pandas-exercise/)</span>

Create two DataFrames from the dictionaries below and merge them based on the column they have in common.

Expected output:

<img src="" width=30%/>

In [4]:
car_price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
car_horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Horsepower': [141, 80, 182 , 160]}

In [5]:
# Your code

<details style="font-size: 16px">
<summary>Hint</summary>

1. Construct a DataFrame from a dictionary by passing it to <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html" target="_blank"><code>pd.DataFrame()</code></a>.

2. Use <a href="https://pandas.pydata.org/docs/reference/api/pandas.merge.html" target="_blank"><code>merge()</code></a> to join the DataFrames based on the column <code>Company</code>.


</details>

<details style="font-size: 16px">
<summary>Sample solution</summary>

```python
car_price_df = pd.DataFrame(car_price)

car_horsepower_df = pd.DataFrame(car_horsepower)

cars_df = pd.merge(car_price_df, car_horsepower_df, on="Company")
```
</details>

---
## Exercise 2.2. Concatenate two DataFrames <span style="font-size:10px">[Source](https://pynative.com/python-pandas-exercise/)</span>

Create two DataFrames from the dictionaries below and concatenate them. Create a key for each DataFrame.

Expected output:

<img src="" width=25%/>

In [6]:
german_cars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}
japanese_cars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}

In [7]:
# Your code

<details style="font-size: 16px">
<summary>Hint</summary>

1. Construct a DataFrame from a dictionary by passing it to <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html" target="_blank"><code>pd.DataFrame()</code></a>.

2. Use <a href="https://pandas.pydata.org/docs/reference/api/pandas.concat.html" target="_blank"><code>concat()</code></a> to join the DataFrames.

3. Assign an identifier to the result indexes by passing the list <code>["Germany", "Japan"]</code> on the <code>keys</code> parameter in <code>concat()</code>.

</details>

<details style="font-size: 16px">
<summary>Sample solution</summary>

```python
german_cars_df = pd.DataFrame(german_cars)
japanese_cars_df = pd.DataFrame(japanese_cars)

cars_df = pd.concat([german_cars_df, japanese_cars_df], keys=["Germany", "Japan"])
```
</details>

---
## Exercise 3. Penguins dataset

Answer the following questions by exploring the dataset.

Note: You need to have seaborn installed: `pip install seaborn`

In [8]:
import seaborn as sb

df_penguins = sb.load_dataset('penguins').dropna()

#### Question 1: How many different species of penguins are in the dataset?

In [9]:
# Your code

<details style="font-size: 16px">
<summary>Hint</summary>

Use the Series method <a href="https://pandas.pydata.org/docs/reference/api/pandas.Series.unique.html" target="_blank"><code>unique()</code></a>.

</details>

<details style="font-size: 16px">
<summary>Sample solution</summary>

There are 3 unique species: 'Adelie', 'Chinstrap', 'Gentoo'.

```python
df_penguins["species"].unique()
```
</details>

#### Question 2: How many female penguins are from the island 'Dream'?

In [10]:
# Your code

<details style="font-size: 16px">
<summary>Hint</summary>

1. Filter the dataset using one condition to get female penguins AND another condition to get penguins from island 'Dream'. Use operator <code>&</code> that represents element-wise logical AND. Don't forget to use parenthesis for each condition.
2. You can use <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html" target="_blank"><code>shape[0]</code></a> or the Python built-in function <code>len()</code> to get the number of rows.
</details>

<details style="font-size: 16px">
<summary>Sample solution</summary>

There are 61 female penguins in the 'Dream' island.

```python
df_penguins[(df_penguins['sex'] == 'Female') & (df_penguins['island'] == 'Dream')].shape[0]
```
</details>

#### Question 3: Given the species 'Adelie', what's the percentage of penguins from the island 'Biscoe'? Round the percentage to one decimal point.

In [11]:
# Your code

<details style="font-size: 16px">
<summary>Sample solution</summary>

30.1% of 'Adelie' penguins are from the island 'Biscoe'.

```python
df_adelie = df_penguins[df_penguins['species'] == 'Adelie']
df_adelie_count = len(df_adelie)

df_adelie_biscoe = df_adelie[df_adelie['island'] == 'Biscoe']
df_adelie_biscoe_count = len(df_adelie_biscoe)

round(df_adelie_biscoe_count / df_adelie_count *100, 1)
```
</details>

#### Question 4: What is the average flipper length ('flipper_length_mm') for each species?

In [12]:
# Your code

<details style="font-size: 16px">
<summary>Hint</summary>

1. <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html" target="_blank"><code>Groupby</code></a> 'species'.
2. Get <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.mean.html" target="_blank"><code>mean()</code></a> of 'flipper_length_mm' for each species. 

</details>

<details style="font-size: 16px">
<summary>Sample solution</summary>

Adelie       190.102740<br>
Chinstrap    195.823529<br>
Gentoo       217.235294<br>

```python
df_penguins.groupby('species')['flipper_length_mm'].mean()
```
</details>

#### Question 5: Which row corresponds to the penguin with the highest body mass ('body_mass_g')? Please provide the full row.

In [13]:
# Your code

<details style="font-size: 16px">
<summary>Hint</summary>

1. Use the Series method <a href="https://pandas.pydata.org/docs/reference/api/pandas.Series.idxmax.html" target="_blank"><code>idxmax()</code></a> to return the row label of the maximum value of 'body_mass_g'.
2. Get the row by label using the Pandas method <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html" target="_blank"><code>loc[]</code></a>. 

</details>

<details style="font-size: 16px">
<summary>Sample solution</summary>

species              Gentoo<br>
island               Biscoe<br>
bill_length_mm         46.3<br>
bill_depth_mm          15.8<br>
flipper_length_mm     215.0<br>
body_mass_g          5050.0<br>
sex                    Male

```python
df_penguins.loc[df_penguins['body_mass_g'].idxmax()]
```
</details>

<span style="display:none">Rita Vale - rita.martins.vale@gmail.com</span>